.login-page {
    display: flex;
    height: 100vh;
  }
  
  .left-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f1f1f1;
  }
  
  .right-section {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  