.button-bar-container {
    margin-top: 10px; /* Adjust to move closer to the header */
    margin-bottom: 10px; /* Adjust to provide space between buttons and videos */
    display: flex;
    justify-content: center;
  }
  
  .btn-group {
    display: flex;
    gap: 20px; /* Increase the space between buttons */
  }
  
  .custom-btn {
    background-color: #e0e0e0; /* Light grey background */
    color: #000; /* Black text */
    border: none;
    padding: 5px 10px; /* Adjust padding to make buttons smaller */
    border-radius: 20px; /* Make buttons rounded */
    font-size: 14px; /* Smaller font size */
  }
  
  .custom-btn:hover {
    background-color: #d0d0d0; /* Slightly darker grey on hover */
    font-weight: bold; /* Make text bold on hover */
  }
  
  .custom-btn.active {
    background-color: #000; /* Black background when active */
    color: #fff; /* White text when active */
    font-weight: bold;
  }
  