.header-container {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: #f8f8f8;
  }
  
  .navbar {
    flex-grow: 1;
    padding: 5px 10px;
    margin: 0;
    width: 100%;
    background-color: #f8f8f8;
  }
  
  .youtube-logo {
    height: 30px;
    width: auto;
    margin-left: 20px;
  }
  
  .search-input {
    width: 600px;
  }
  
  .form-inline {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  .navbar-toggler {
    border-color: rgba(0, 0, 0, 0.1);
  }
  
  .btn-outline-success {
    margin-left: 10px;
  }
  
  .btn-outline-primary {
    margin-left: 10px;
    white-space: nowrap; /* מונע שבירת שורות */
  }
  