.sidebar-button {
  display: flex;
  align-items: center;
  padding: 10px;
  margin-bottom: 5px;
  background-color: #fff;
  border: none;
  cursor: pointer;
  width: 100%;
  text-align: left;
  font-size: 14px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.sidebar-button:hover {
  background-color: #f1f1f1;
}

.sidebar-button .icon {
  height: 20px; /* Adjust icon size */
  width: 20px; /* Adjust icon size */
  margin-right: 10px;
}
