body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.app-container {
  display: flex;
  flex-direction: column;
}

.header-container {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: #f8f8f8;
}

.main-content-container {
  display: flex;
  margin-top: 45px; /* גובה ה-header */
}

.sidebar {
  width: 200px;
  height: calc(100vh - 60px); /* גובה המסך פחות גובה ה-header */
  overflow-y: auto;
  background-color: #f9f9f9;
  padding: 10px;
  border-right: 1px solid #ddd;
}

.main-content {
  flex-grow: 1;
  padding: 20px;
  margin-left: 200px; /* יישור עם ה-sidebar */
  margin-top: 0; /* ביטול ה-margin-top */
}
